NODE_ENV=development
PORT=5000

# MongoDB
MONGO_URI=mongodb+srv://user:pass@cluster.mongodb.net/mern_taskmanager?retryWrites=true&w=majority

# JWT
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRE=30d

# Khalti Payment
KHALTI_LIVE_SECRET_KEY=e78d7f83acf3410580ceaa8c776a6c30
KHALTI_URL=https://dev.khalti.com/api/v2/
KHALTI_AFTER_PAYMENT_URL=http://localhost:5173/khalti-payment

# Email (Gmail SMTP)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=sabintapkota@gmail.com
SMTP_PASSWORD="lokk akla jzek ugdg"
SMTP_FROM_ADDRESS=sabintapkota@gmail.com

# Frontend URL (for links in emails)
CLIENT_URL=http://localhost:3000
